<!doctype html>
{% load static %}
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <title>Библиотека Максима</title>
  </head>
  <body>

    <div class="container">
      <nav aria-label="Pages navigation ">
        <hr>
        <ul class="pagination" style="margin-left: -15px; border-style: hidden">
          {% if current_page == 1 %}
            <li class="page-item disabled">
          {% else %}
            <li class="page-item">
          {% endif %}
            <a class="page-link" href="index{{current_page-1}}.html" tabindex="-1" aria-disabled="true">Назад</a>
          </li>
          {% for page in range(pages_count) %}
            {% if current_page == page+1 %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="index{{page+1}}.html">{{page+1}}<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{page+1}}.html">{{page+1}}</a></li>
            {% endif %}
          {% endfor %} 
          {% if current_page == pages_count %}
            <li class="page-item disabled">
          {% else %}
            <li class="page-item">
          {% endif %}
            <a class="page-link" href="index{{current_page+1}}.html">Вперед</a>
          </li>
        </ul>
      </nav>
      <div class="row">
        {% for two_books in books %}
          <div class="row">
            {% for book in two_books %}
              <div class="col">
                <div class="card mb-3" style="width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="{{book.img_src}}" class="card-img" alt={{book.title}}>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <p class="card-text">{{book.author}}</p>
                        <p><span class="badge badge-light text-wrap" style="max-width: 300px;">{{book.genres}}</span></p>
                        <p><a href="{{book.book_path|urlencode}}" target="_blank">Читать</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            {% endfor %}
            <div class="w-100"></div>
          </div>
        {% endfor %}
      </div>
    </div>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
  </body>
</html>